---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '../components/Contact/ContactForm.tsx';
---

<BaseLayout title='Contact Me' description='Contact form for any questions'>
	<div class='stack gap-20'>
		<main class='wrapper about'>
			<ContactForm />
		</main>
	</div>
</BaseLayout>
